@import url('https://fonts.googleapis.com/css2?family=Exco+2:ital,wght@0,200;0,300;0,400;0,500;0,500;1,300;1,400;1,500;&display=swap');
:root{
    --green: #45c42c;
    --font-size:15px;
}
*{
    margin: 0px;
    padding: 0px;
    /* transition: all 2s linear; */
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.heading{
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1.7rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    /* text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--green); */
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow:0 0.2rem .5rem rgba(0, 0, 0, .3) ;
}
.logo-section{
    display: flex;
    justify-content: space-between;
}


.header .logo img{
    height: 4rem;
    margin-top: 12px;
}
.header .text{
    display: grid;
    grid-column: span;
    margin-top: 15px;
    font-size:15px;
    font-weight: 600;
    width: 100%;
    align-items:center;
    text-align: center;
    margin-left: 10px;

}
.header .text .texts{
    border-bottom: 2px solid black;
}
.header .spn{
    color: var(--green);
}
/* navigation bar */

nav{
    display: flex;
    justify-content: space-around;
    width:50%;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center;
    text-align: center;

}

.dp{
    display: block;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    width: 100px;

}
.dp a{
    text-decoration: none;
    color: var(--text-color);
}
.dp:hover{
    letter-spacing: 0.1px;
}

.dp .dp-content{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 168px;
    border: 1px solid var(--green);
    align-items: center;

}
.dp .dp-content a{
    display: block;
    text-decoration: none;
    background: white;
    color: var(--text-color);
    padding: top 2px;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid var(--green);
    transition:0.5s ease;

}
.dp .dp-content a:hover{
    letter-spacing: 0.5px;
    color: black;
    background: var(--green);
}
.dp:hover .dp-content{
    display: block;
}
.left{
    right: 3px;
}
.right{
    padding-left: 20px;
}

/* .header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0%;
}
.header nav ul li{
    margin: 0 1.5rem;
}
.header nav ul li a{
    font-size:var(--font-size) ;
    color: #666;
    text-decoration: none;
    transition: all .1s ease;
}
.header nav ul li a:visited{
    background: var(--green);
}
.header nav ul li a:hover{
    color: #000;
    border-bottom: 2px solid var(--green);
    text-decoration: none;
} */
.header .botton{
    display:none;

}
.header .icon a{
    text-decoration: none;
    color:#000;
}
